
body{
    background-color: #ffffff;
    background-position:center;
    font-family: Arial, Helvetica, sans-serif ;
    width: 100%;
    margin: 0%;
    padding: -30%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    margin-bottom: 30px;
    margin-top: 0px;
    border:salmon 20px solid;
    border-radius: 0px;
    margin-right: 30px;
    color:white;
    
}
a{
    color: white;
    text-decoration: unset;

}

#foto{
    border: white;
    margin-bottom: 30px;
    width: 20%;
    border-radius: 50%;
    left: 50px;
    
}
.foto{
    width: 50%;
    border-radius: 15%;
    margin-left: 30px;
    margin-right: 30px;
    left: 500px;
}
h2{
    left: 30px;
    justify-content: center;
}

#rodape{
    color: white;
    justify-content: center;
    font-size: 15px;
    text-align: center;
}
